body {
    background-color: rgb(20, 20, 22);
    font-family: "PT Sans";
}

    #wrapper {
        display: grid;
        width: 80vw;
        min-height: 150vh;
        margin: auto;
        grid-template-areas: 
        'hd hd hd'
        'nv nv nv'
        'sc1 sc2 sc3'
        'ft ft ft';
        grid-template-columns: 1fr 1fr 0.5fr;
        grid-template-rows: 7rem 3.5rem auto 4rem;
    }

    #wrapper2 {
        display: grid;
        width: 80vw;
        min-height: 150vh;
        margin: auto;
        grid-template-areas: 
        'hd hd'
        'nv nv'
        'sc1 sc3'
        'ft ft';
        grid-template-columns: 2fr 0.5fr;
        grid-template-rows: 7rem 3.5rem auto 4rem;
    }

    #wrapper3 {
        display: grid;
        width: 80vw;
        min-height: 150vh;
        margin: auto;
        grid-template-areas: 
        'hd hd hd hd'
        'nv nv nv nv'
        'sc1 sc2 sc4 sc3'
        'ft ft ft ft';
        grid-template-columns: 0.8fr 0.6fr 0.6fr 0.5fr;
        grid-template-rows: 7rem 3.5rem auto 4rem;
    }

    #wrapper4 {
        display: grid;
        width: 80vw;
        min-height: 150vh;
        margin: auto;
        grid-template-areas: 
        'hd hd hd'
        'nv nv nv'
        'sc1 sc2 sc3'
        'ft ft ft';
        grid-template-columns: 1fr 1fr 0.5fr;
        grid-template-rows: 7rem 3.5rem auto 4rem;
    }

    header {
        display: grid;
        grid-area: hd;
        background-color: rgb(20, 20, 22);
    }
    
    #logga {
        display: grid;
        width: 13rem;
        margin: auto;
    }

    nav {
        display: grid;
        grid-area: nv;
        background-color: rgb(20, 20, 22);
    }

    nav ul{
        list-style-type: none;
        margin: auto;
        padding-right: 28px;
    }

    nav ul a{
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        color: rgb(15, 194, 192);
        transition: 0.3s ease-in;
        border-radius: 5px;
        font-size: 18px;
    }

    nav ul a:hover{
        background-color: rgb(194, 15, 99);
        color: white;
        border-radius: 25px;
    }

    #sec1 {
        grid-area: sc1;
        background-color: rgb(20, 20, 22);
        border: solid 4px rgb(245, 245, 245);
    }

    #sec1 h1 {
        color: rgb(245, 245, 245);
        padding-left: 20px;
    }

    #sec1 b {
        color: rgb(245, 245, 245);
        padding-left: 20px;
    }

    #sec2 {
        display: grid;
        grid-area: sc2;
        background-color: rgb(20, 20, 22);
        border: solid 4px rgb(245, 245, 245);
        grid-template-areas:
        's2a1'
        's2a2';
        grid-template-rows: 50% 50%;
    }

    #sec2 h1 {
        color: rgb(245, 245, 245);
        padding-left: 20px;
    }

    #sec2 b {
        color: rgb(245, 245, 245);
        padding-left: 20px;
    }

    #sec2art1 {
        grid-area: s2a1;
    }
    #sec2art2 {
        grid-area: s2a2;
    }
    #sec4art1 {
        grid-area: s4a1;
    }
    #sec4art2 {
        grid-area: s4a2;
    }

    #sec2hem {
        grid-area: sc2;
        background-color: rgb(20, 20, 22);
        border: solid 4px rgb(245, 245, 245);
    }

    #sec2hem h1 {
        color: rgb(245, 245, 245);
        padding-left: 20px;
    }

    #sec2hem b {
        color: rgb(245, 245, 245);
        padding-left: 20px;
    }

    #insta {
        height: 10rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        display: block;
    }

    #twitt {
        height: 10rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        display: block;
    }

    #sec4 {
        display: grid;
        grid-area: sc4;
        background-color: rgb(20, 20, 22);
        border: solid 4px rgb(245, 245, 245);
        grid-template-areas:
        's4a1'
        's4a2';
        grid-template-rows: 50% 50%;
    }

    #sec4 h1 {
        color: rgb(245, 245, 245);
        padding-left: 20px;
    }

    #sec4 b {
        color: rgb(245, 245, 245);
        padding-left: 20px;
    }

    #sec3 {
        grid-area: sc3;
        background-color: rgb(20, 20, 22);
        border: solid 4px rgb(245, 245, 245);
    }

    #sec3 h1 {
        color: rgb(245, 245, 245);
        padding-left: 15px;
    }
    
    footer {
        grid-area: ft;
        background-color: rgb(20, 20, 22);
        border: solid 4px rgb(245, 245, 245);
        padding-top: 20px;
    }  

    footer b{
        color: rgb(245, 245, 245);
        margin-left: 30px;
    }

@media screen and (max-width: 768px) {

    #wrapper4 {
        display: grid;
        width: 90vw;
        min-height: 200vh;
        margin: auto;
        grid-template-areas: 
        'hd'
        'nv'
        'sc1'
        'sc2'
        'sc3'
        'ft';
        grid-template-columns: 2.5fr;
        grid-template-rows: 7% 5% 30% 30% auto 7%;
    }

    #wrapper {
        display: grid;
        width: 90vw;
        min-height: 200vh;
        margin: auto;
        grid-template-areas: 
        'hd'
        'nv'
        'sc1'
        'sc2'
        'sc3'
        'ft';
        grid-template-columns: 2.5fr;
        grid-template-rows: 7% 5% 30% 30% auto 7%;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        height: 50vh;
        top: -90vh;
        align-items: center;
        width: 20%;
        background-color: rgb(20, 20, 22);
        border: solid 5px rgb(245, 245, 245);
        transition: all 1s;
    }

    .navActive {
        transform: translateY(112vh);
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: rgb(194, 15, 99);
        margin: 5px;
        border-radius: 10%;
        transition: all 0.3s;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #insta {
        height: 7rem;
        display: inline;
        margin-left: 2rem;
    }

    #twitt {
        height: 7rem;
        display: inline;
        margin-left: 2rem;

    }
}

